Repository encointer/community-sidechain, pull requests merged in 2023-01, with the labels that each got.

#31 Fix Could not decode state for next ceremony phase:
  app-libs/stf/src/stf_sgx.rs
  core-primitives/stf-executor/src/executor.rs
  core-primitives/stf-interface/src/encointer_scheduler_pallet.rs
Labels: A2-applibs, B0-silent, C7-high ❗️, E0-breaksnothing

#32 Allow execution of public getters
  app-libs/stf/src/getter.rs
  core-primitives/stf-executor/src/getter_executor.rs
  core-primitives/stf-executor/src/mocks.rs
  core-primitives/stf-executor/src/state_getter.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/src/test/state_getter_tests.rs
Labels: A0-core, A2-applibs, B1-releasenotes, C1-low 📌, E0-breaksnothing

#21 Use of encointer-node docker image
  .github/workflows/build_and_test.yml
  .github/workflows/delete-release.yml
  .github/workflows/publish-docker-release.yml
  Dockerfile
  docker/README.md
  docker/demo-direct-call.yml
  docker/demo-indirect-invocation.yml
  docker/demo-sidechain.yml
  docker/demo-smart-contract.yml
  docker/docker-compose.yml
  docker/fork-inducer.yml
  docker/sidechain-benchmark.yml
  enclave-runtime/src/test/on_chain_ocall_tests.rs
  local-setup/README.md
Labels: A7-somethingelse, B0-silent, C1-low 📌, E0-breaksnothing

#39 perform meetup: attest attendees and list attestees
  app-libs/stf/src/getter.rs
  app-libs/stf/src/trusted_call.rs
  cli/demo_private_community.sh
  cli/src/ceremonies/commands/attest_attendees.rs
  cli/src/ceremonies/commands/ceremonies_command_utils.rs
  cli/src/ceremonies/commands/list_attestees.rs
  cli/src/ceremonies/commands/mod.rs
  cli/src/ceremonies/mod.rs
  enclave-runtime/src/test/ceremonies_test.rs
Labels: A0-core, A1-cli, A2-applibs, B1-releasenotes, C1-low 📌, E0-breaksnothing
